.uiComp {
    height: 50vh;
    width: 49vw;
    background-color: #F7F7FC;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .uiComp {
        width: 100vw;
    }
}
